<%- include('partials/header') %>
<table border="1px solid black">
    <thead>
        <tr>
            <th>Name</th>
            <th>Day</th>
            <th>Start Time</th>
            <th>End time</th>
        </tr>
    </thead>
    <tbody>
        <% for(let schedule of schedules) { %>
        <tr>
                <td><%= schedule.user_id %></td>
                <td><%= schedule.day %></td>
                <td><%= schedule.start_at %></td>
                <td><%= schedule.end_at %></td>
            </tr>
        <% } %>
    </tbody>
</table>

<%- include('partials/footer') %>