<%- include('partials/header') %>
<table border="1px solid black">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% for(let user of users) { %>
            <tr>
                <td><%= user.firstname %></td>
                <td><%= user.lastname %></td>
                <td><%= user.email %></td>
            </tr>
        <% } %>
    </tbody>
</table>

<%- include('partials/footer') %>